/* Estilo para el cuerpo del documento */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #006d77; /* Verde azulado oscuro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 40px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #83c5be; /* Verde menta */
}

/* Estilo para el contenedor principal */
.container {
    flex: 1;
    padding-bottom: 35px; /* Espacio para el pie de página */
}

/* Estilo para el pie de página */
footer {
    background-color: #006d77; /* Verde azulado oscuro */
    color: #ffffff;
    border-top: 4px solid #2ec4b6; /* Verde agua */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0;
    padding: 10px;
}

/* Estilos para el interruptor toggle-switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #ccc;
    transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: #05c46b;
    box-shadow: inset 0 0 0 2px #04b360;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(40px);
}

/* Estilos para el interruptor toggle-switch-alt */
.toggle-switch-alt {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch-alt input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #04b360;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
