{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center font-weight-bold">Panel de Control</h2>
            <p class="text-center text-muted">Hola, {{ user.username }}.</p>
        </div>
    </div>

    <div class="row mt-5">
        <!-- Gestión de Pacientes -->
        <div class="col-md-3">
            <div class="card shadow-sm border-0 rounded-lg text-center">
                <div class="card-body">
                    <img src="{% static 'images/gestion.png' %}" alt="Gestión de Pacientes" class="mb-3" style="width: 50px; height: 50px;">
                    <h5 class="card-title font-weight-bold text-primary">Gestión de Pacientes</h5>
                    <p class="card-text text-muted">Gestiona pacientes: edita o añade registros..</p>
                    <a href="{% url 'lista_pacientes' %}" class="btn btn-outline-primary btn-block">Ver Pacientes</a>
                </div>
            </div>
        </div>

        <!-- Reportes -->
        <div class="col-md-3">
            <div class="card shadow-sm border-0 rounded-lg text-center">
                <div class="card-body">
                    <img src="{% static 'images/reportes.png' %}" alt="Reportes" class="mb-3" style="width: 50px; height: 50px;">
                    <h5 class="card-title font-weight-bold text-success">Reportes</h5>
                    <p class="card-text text-muted">Genera y visualiza reportes de actividades.</p>
                    <a href="{% url 'menu_reportes' %}" class="btn btn-outline-success btn-block">Ver Reportes</a>
                </div>
            </div>
        </div>

        <!-- Gestión de Usuarios -->
        <div class="col-md-3">
            <div class="card shadow-sm border-0 rounded-lg text-center">
                <div class="card-body">
                    <img src="{% static 'images/usuario.png' %}" alt="Gestión de Usuarios" class="mb-3" style="width: 50px; height: 50px;">
                    <h5 class="card-title font-weight-bold text-danger">Gestión de Usuarios</h5>
                    <p class="card-text text-muted">Gestiona los usuarios del sistema.</p>
                    <a href="{% url 'user_list' %}" class="btn btn-outline-danger btn-block">Ver Usuarios</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
