{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center font-weight-bold">Panel de Control</h2>
            <p class="text-center text-muted">Hola, {{ user.username }}.</p>
        </div>
    </div>

    <!-- Centrar las tarjetas -->
    <div class="row justify-content-center mt-5">
        <!-- Gestión de Pacientes -->
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm border-0 rounded-lg text-center">
                <div class="card-body">
                    <a href="{% url 'lista_pacientes' %}">
                        <img src="{% static 'images/gestion.png' %}" alt="Gestión de Pacientes" class="mb-3" style="width: 50px; height: 50px;">
                    </a>
                    <h5 class="card-title font-weight-bold text-primary">Gestión de Pacientes</h5>
                    <p class="card-text text-muted">Gestiona pacientes: edita o añade registros.</p>
                    <a href="{% url 'lista_pacientes' %}" class="btn btn-outline-primary btn-block">Ver Pacientes</a>
                </div>
            </div>
        </div>

        <!-- Sesiones de Terapia -->
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm border-0 rounded-lg text-center">
            <div class="card-body">
                <a href="#" data-toggle="modal" data-target="#sesionModal">
                <img src="{% static 'images/sesiones.png' %}" alt="Sesiones de Terapia" class="mb-3" style="width: 50px; height: 50px;">
                </a>
                <h5 class="card-title font-weight-bold text-info">Sesiones de Terapia</h5>
                <p class="card-text text-muted">Registra nuevas sesiones o visualiza el historial de terapias.</p>
                <a href="#" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#sesionModal">Ver Sesiones</a>
            </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="sesionModal" tabindex="-1" role="dialog" aria-labelledby="sesionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="sesionModalLabel">Sesiones de Terapia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <a class="dropdown-item" href="{% url 'registrar_sesion' %}">Registrar Sesión de Terapia</a>
                <a class="dropdown-item" href="{% url 'historial_sesiones' %}">Historial de Sesiones</a>
                </div>
            </div>
            </div>
        </div>
        <!-- Reportes -->
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm border-0 rounded-lg text-center">
                <div class="card-body">
                    <a href="{% url 'generar_reporte' %}">
                        <img src="{% static 'images/report.png' %}" alt="Reportes" class="mb-3" style="width: 50px; height: 50px;">
                    </a>
                    <h5 class="card-title font-weight-bold text-success">Reportes Individuales</h5>
                    <p class="card-text text-muted">Genera y visualiza reportes de actividades de cada paciente.</p>
                    <a href="{% url 'generar_reporte' %}" class="btn btn-outline-success btn-block">Ver Reportes</a>
                </div>
            </div>
        </div>

        <!-- Estadísticas -->
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm border-0 rounded-lg text-center">
                <div class="card-body">
                    <a href="{% url 'ver_estadisticas' %}">
                        <img src="{% static 'images/estadisticas.png' %}" alt="Estadísticas" class="mb-3" style="width: 50px; height: 50px;">
                    </a>
                    <h5 class="card-title font-weight-bold text-warning">Estadísticas</h5>
                    <p class="card-text text-muted">Visualiza estadísticas y reportes de rendimiento.</p>
                    <a href="{% url 'ver_estadisticas' %}" class="btn btn-outline-warning btn-block">Ver Estadísticas</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center mt-3">

        
                <!-- Gestión de Usuarios -->
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm border-0 rounded-lg text-center">
                <div class="card-body">
                    <a href="{% url 'user_list' %}">
                        <img src="{% static 'images/usuario.png' %}" alt="Gestión de Usuarios" class="mb-3" style="width: 50px; height: 50px;">
                    </a>
                    <h5 class="card-title font-weight-bold text-danger">Gestión de Usuarios</h5>
                    <p class="card-text text-muted">Gestiona los usuarios del sistema.</p>
                    <a href="{% url 'user_list' %}" class="btn btn-outline-danger btn-block">Ver Usuarios</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
